#drupal-off-canvas {
  color: #ddd;
  background: #f7f8f9;
  max-width: fit-content;
  max-width: -webkit-fill-available;
}

#drupal-off-canvas *,
#drupal-off-canvas *:not(div),
#drupal-off-canvas *:not(.form-submit) {
  color: #314b5a;
}

.layout-selection {
  background: #575858 !important;
}
.layout-selection .list-group-item {
  position: relative !important;
}
.layout-selection .list-group-item::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: -20px !important;
  bottom: 0 !important;
  right: auto !important;
  width: 0 !important;
  background: #89caeb !important;
  display: block !important;
}
.layout-selection .list-group-item:hover {
  background: rgba(137, 202, 235, 0.14) !important;
}
.layout-selection .list-group-item:hover::before {
  width: 3px !important;
}
.layout-selection .list-group-item a {
  text-decoration: none !important;
}
.layout-selection img {
  max-width: 100% !important;
  max-height: 160px !important;
}

.ui-dialog-content input:not(.form-submit) {
  background: #fff !important;
  border: 1px solid #d1d1d1 !important;
  border-radius: 3px !important;
}

.ui-dialog.ui-dialog-position-side {
  left: auto !important;
  right: 0 !important;
  width: 400px !important;
}
.ui-dialog.ui-dialog-position-side .ui-dialog-titlebar .ui-dialog-title {
  color: #587fa1 !important;
  display: flex;
}

.layout-builder-block {
  background-color: #fff !important;
  color: #333 !important;
  padding: 10px !important;
  white-space: nowrap !important;
  overflow: visible;
}
.layout-builder-block *, .layout-builder-block div *, 
.layout-builder-block a, .layout-builder__add-block , 
.layout-builder__add-block *, .layout-builder__add-block a {
	color: #333 !important;
	font-size:16px !important;
	-webkit-text-fill-color: #333 !important;
	-webkit-text-stroke: 0;
	padding: 10px !important;
	 white-space: nowrap !important;
	 overflow: visible;
}
.layout-builder__layout{
	overflow: visible !important;	
}
.layout-builder__layout .layout__region-info{
	color: #333 !important;
	font-size:16px !important;
	-webkit-text-fill-color: #333 !important;
	-webkit-text-stroke: 0;
}

.layout-builder__link--add:hover .visually-hidden {
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  display: inline-block;
  padding: 0 10px;
  color: #333;
  font-size: 90%;
  font-style: italic;
}
.layout-builder__add-section {
  position: relative;
  z-index: 99;
}
.layout-builder__layout .layout-builder__region-label, .layout-builder__layout .layout-builder__section-label {
    display: none !important;
}
ul.contextual-links  {
	padding: 5px 10px !important;
	z-index: 9999 !important;
    visibility: visible !important;	
}
ul.contextual-links * {
	padding: 0 !important;	
}


ul.contextual-links li a{
	padding: 5px !important;	
}
ul.contextual-links li a:hover{
	background: #8ba6b7 !important;
}

/**
 * formnulaire d'edition
 */
.layout-builder-configure-section .js-form-item {
	display: flex;
    flex-direction: column;	
}

.layout-builder-configure-section .js-form-item .form-control {
	width: auto;
    max-width: 100%;
}

