<div class="projectSummary">
	<div class="projectSummary__square">
		<div class="reinsuranceItem">
			<div class="reinsuranceItem__iconContainer">
				<div class="reinsuranceItem__assistance">
					<i class="fa fa-bitcoin"></i>
				</div>
			</div>
			<div class="reinsuranceItem__title">
				45 500
				<span class="number-unit">€</span>
			</div>
			<p>à partir de</p>
		</div>
	</div>
	<div class="projectSummary__square">
		<div class="reinsuranceItem">
			<div class="reinsuranceItem__iconContainer">
				<div class="reinsuranceItem__assistance">
					<i class="fa fa-hourglass-half"></i>
				</div>
			</div>
			<div class="reinsuranceItem__title">
				9
				<span class="number-unit">jours</span>
			</div>
		</div>
	</div>
	<div class="projectSummary__square">
		<div class="reinsuranceItem">
			<div class="reinsuranceItem__iconContainer">
				<div class="reinsuranceItem__assistance">
					<i class="fa fa-bug"></i>
				</div>
			</div>
			<div class="reinsuranceItem__title">
				50
				<span class="number-unit">m²</span>
			</div>
		</div>
	</div>
</div>
