@use "@stephane888/wbu-atomique/scss/wbu-ressources.scss" as *;
$wbu-title-font-weight: 300;
$wbu-h1-font-size     : 2.5rem;
$wbu-h3-font-size     : 1.9rem;
/* space */
// definit les marges et padding.
$wbu-margin           : 1.29rem !default;
/* color */
$wbu-color-primary    : #fc5e28; //#fc5e28
$wbu-color-gris       : #dee2e6;
/* typography */
//$p-font-size      : inherit;
//$wbu-default-font-size: 0.9rem;
$wbu-title-color      : lighten($wbu-color-text ,15);