<!-- ======= Features Section ======= -->
<section id="features" {{attributes.addClass('features')}}>
	<div class="container" data-aos="fade-up">
		<div class="row">
			<div class="image col-lg-6" style="background-image: url('/themes/custom/prestataires/images/camera-securite-mur-immeuble-bureaux_163132-740.jpg')" data-aos="fade-right"></div>
			<div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
				<div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
						<path d="M21 11h-3V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v14c0 1.654 1.346 3 3 3h14c1.654 0 3-1.346 3-3v-6a1 1 0 0 0-1-1zM5 19a1 1 0 0 1-1-1V5h12v13c0 .351.061.688.171 1H5zm15-1a1 1 0 0 1-2 0v-5h2v5z"/>
						<path d="M6 7h8v2H6zm0 4h8v2H6zm5 4h3v2h-3z"/>
					</svg>
					<h4>Est labore ad</h4>
					<p>
						Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris
																														            nisi ut aliquip
					</p>
				</div>
				<div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
						<path d="M17.895 3.553A1.001 1.001 0 0 0 17 3H7c-.379 0-.725.214-.895.553l-4 8a1 1 0 0 0 0 .895l4 8c.17.338.516.552.895.552h10c.379 0 .725-.214.895-.553l4-8a1 1 0 0 0 0-.895l-4-7.999zM19.382 11h-7.764l-3-6h7.764l3 6zM4.118 12 7 6.236 9.882 12 7 17.764 4.118 12zm12.264 7H8.618l3-6h7.764l-3 6z"/>
					</svg>
					<h4>Harum esse qui</h4>
					<p>
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
																														            officia deserunt
					</p>
				</div>
				<div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
						<path d="M20 2H8c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zM8 16V4h12l.002 12H8z"/>
						<path d="M4 8H2v12c0 1.103.897 2 2 2h12v-2H4V8z"/>
						<path d="m12 12-1-1-2 3h10l-4-6z"/>
					</svg>
					<h4>Aut occaecati</h4>
					<p>
						Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores
																														            omnis facere
					</p>
				</div>
				<div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
						<path d="M20.995 6.903a.997.997 0 0 0-.547-.797l-7.973-4a.997.997 0 0 0-.895-.002l-8.027 4c-.297.15-.502.437-.544.767-.013.097-1.145 9.741 8.541 15.008a.995.995 0 0 0 .969-.009c9.307-5.259 8.514-14.573 8.476-14.967zm-8.977 12.944c-6.86-4.01-7.14-10.352-7.063-12.205l7.071-3.523 6.998 3.511c.005 1.87-.481 8.243-7.006 12.217z"/>
					</svg>
					<h4>Beatae veritatis</h4>
					<p>
						Expedita veritatis consequuntur nihil tempore laudantium vitae denat
																														            pacta
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Features Section -->