{% if content %}
	<div {{attributes.addClass(['vlf-grid'])}}>
	    {% for item in content.images|array_elements(region_attributes.images.addClass(['content','flow'])) %}
	        {{ item }} 
	    {% endfor %}
	</div>
{% endif %}