{# empty Twig template #}
{% if content %}
    {{ dump(settings) }}
    <section{{ attributes.addClass(['fm-hero-thegem-18']) }}>
         <div class="container">
              <div class="d-flex">
                   <div class="fm-hero-thegem-18__border"></div>
                   .....
              </div>
         </div>
    </section>
{% endif %}
