{% if content %}
    {% if content.image_bg.layout_builder_add_block %}
	    {{ content.image_bg }}
	{% endif %}
	{% if content.image_bg|layout_bg_img %}
	    {% set attributes=attributes.merge(content.image_bg|layout_bg_img) %}
	{% endif %}
<div {{attributes.addClass('one-column')}}>	
	{% if content.main %}
	<div {{region_attributes.main.addClass('main')}}>
		{{ content.main }}
	</div>
	{% endif %}
</div>
{% endif %}