@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;
@use "./variables";
.login-page {
  min-height: 400px !important;
}
.app-builder-cv {
  .container {
    max-width: 1400px;
  }
  .scroll-area {
    .ps__rail-y {
      opacity: 0.1;
      z-index: 999;
    }
  }
  &__content {
    padding-bottom: $wbu-margin * 6;
    min-height: 500px;
  }
  .form-footer-app {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    &__content {
      padding: $wbu-margin * 1.5 $wbu-margin * 0.5;
      background: rgba(white, 0.7);
      border-top: 1px solid rgb(231, 235, 238);
      box-shadow: rgb(0 0 0 / 50%) 0px -10px 25px -26px;
    }
  }
}
