@use "@stephane888/wbu-atomique/scss/wbu-ressources.scss" as *;
@use "../_variable" as *;
.textcotebg {
  padding: $wbu-margin * 4 $wbu-margin;
  line-height: 1.8;
  font-size: $wbu-default-font-size * 1.2;
  background-attachment: fixed;
  background-position: left bottom !important;
  .entete {
    padding: $wbu-margin * 3 $wbu-margin * 3;
    background-color: #fff;

    .title {
      margin-bottom: $wbu-margin * 1.5;
      text-transform: uppercase;
      line-height: 1.5;
    }
    .description {
      margin-bottom: $wbu-margin * 1.5;
    }
    .call_action {
      line-height: 1;
      i {
        font-size: 4rem;
        line-height: 0;
        color: $wbu-color-primary;
      }
      .counter {
        font-weight: 900;
      }
    }
  }
}
